<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cm.abimmobiledev.mybudgetizer">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_djiba_am"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_app_budgetizer"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.receivable.ReceivableRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.receivable.ReceivableBoardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.receivable.ReceivablesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.debt.DebtsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.debt.DebtRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.debt.DebtBoardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.earning.EarningsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.earning.EarningBoardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.earning.EarningRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.expense.ExpensesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.expense.ExpenseFilterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.expense.ExpenseRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.expense.ExpenseDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainMenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>